@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body{
    background-color: #36393F;
}

a{
    text-decoration: none;
}

.maindiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;
}

.container{
    border-radius: 15px;
    max-width: 100vh;
    max-height: 50vh;
    min-width: 50vh;
    min-height: 20vh;
    background-color: #26292F;
    -webkit-box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.25); 
    box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.maintext{
    font-size: 22;
    font-weight: bold;
    color: white;
    /* font-family: 'Roboto', sans-serif; */
}

.secondtext{
    font-size: 16;
    color: lightgrey;
    margin-bottom: 5px;
    /* font-family: 'Roboto', sans-serif; */
}

.downloadButton{
    border-radius: 10px;
    margin: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #969A9F;
    -webkit-box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.25); 
    box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}